.b-progress-bar {

    position: relative;

    height: 4px;

    background: #555;

    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;

}

.b-progress-bar__filling {

    position: relative;
    overflow: hidden;

    display: block;
    height: 100%;

    -webkit-transition: width 0.3s linear;
       -moz-transition: width 0.3s linear;
            transition: width 0.3s linear;

       -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;

           -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;

               border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;

        -webkit-border-top-left-radius: 20px;
     -webkit-border-bottom-left-radius: 20px;

            -moz-border-radius-topleft: 20px;
         -moz-border-radius-bottomleft: 20px;

                border-top-left-radius: 20px;
             border-bottom-left-radius: 20px;

    background-color: #58A1B0;

}
